{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Election results and Payoffs
{% endblock %}

{% block content %}
     <p><ins>Round {{ group.round_number }} of {{ Constants.num_rounds }}</ins></p>
    <p><li>{{ group.j_inelection }}&#37; &nbsp;               voted for Candidate J</li>
    <li>{{ group.k_inelection }}&#37;  &nbsp;              voted for Candidate K</li></p>
    <p><strong>Candidate {{ group.winner }}</strong> wins </p>
    <p>Your points earned in this round: <strong>{{ player.payoff }}</strong></p>
    {% next_button %}

{% endblock %}
