{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    The Poll
{% endblock %}

{% block content %}
    <p>You have randomly been selected to participate in the polls of Company{{ player.company_each_player }}.  </p>
     <p>Companies select the following player:{{ group.Allcompany }}. For instance, [3,2,2,1] means company 1 select player 3 and player 2, and company 2 select player 2 and player 1.
        (This line will be deleted later, I print it out to check if the codes work.)</p>
    {% formfield player.poll label="Please state for which candidate you intend to vote " %}
    {% next_button %}
{% endblock %}


