{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Poll Results
{% endblock %}

{% block content %}
     {% if group.round_number <= Constants.practice_rounds  %}
    <p>This is a practice round, and it will not count for your final payoffs</p>
    <p><ins>Practice round {{ group.round_number}} of {{ Constants.practice_rounds }}</ins></p>
    {% else %}
    <p><ins>Round {{ group.set_practice_round_numbers}} of {{ Constants.real_rounds}}</ins></p>
    {% endif %}
    <p>The results of the voting intention polls for all companies are as follows:</p>
    <p>
    <li>Company A: {{ group.companyA_k_inpolls }}&#37; for Candidate K; {{ group.companyA_j_inpolls }}&#37; for Candidate J</li>
    <li>Company B: {{ group.companyB_k_inpolls }}&#37; for Candidate K; {{ group.companyB_j_inpolls }}&#37; for Candidate J</li>
    <li>Company C: {{ group.companyC_k_inpolls }}&#37; for Candidate K; {{ group.companyC_j_inpolls }}&#37; for Candidate J</li>
    <li>Company D: {{ group.companyD_k_inpolls }}&#37; for Candidate K; {{ group.companyD_j_inpolls }}&#37; for Candidate J</li>
    <li>Company E: {{ group.companyE_k_inpolls }}&#37; for Candidate K; {{ group.companyE_j_inpolls }}&#37; for Candidate J</li>
    </p>
    {% next_button %}
     {% include Constants.instructions_template %}

{% endblock %}
