{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Poll Results
{% endblock %}

{% block content %}
  <p><ins>Round {{ group.round_number }} of {{ Constants.num_rounds }}</ins></p>
    <p>The results of the voting intention polls for all companies are as follows:</p>
    <p>
    <li>Company A: {{ group.companyA_k_inpolls }}&#37; for Candidate K; {{ group.companyA_j_inpolls }}&#37; for Candidate J</li>
    <li>Company B: {{ group.companyB_k_inpolls }}&#37; for Candidate K; {{ group.companyB_j_inpolls }}&#37; for Candidate J</li>
    <li>Company C: {{ group.companyC_k_inpolls }}&#37; for Candidate K; {{ group.companyC_j_inpolls }}&#37; for Candidate J</li>
    <li>Company D: {{ group.companyD_k_inpolls }}&#37; for Candidate K; {{ group.companyD_j_inpolls }}&#37; for Candidate J</li>
    <li>Company E: {{ group.companyE_k_inpolls }}&#37; for Candidate K; {{ group.companyE_j_inpolls }}&#37; for Candidate J</li>
    </p>
    {% next_button %}
     {% include Constants.instructions_template %}

{% endblock %}
