{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Poll Results
{% endblock %}

{% block content %}
  <p><ins>Round {{ group.round_number }} of {{ Constants.num_rounds }}</ins></p>
    <p>The results of the voting intention polls for all companies are as follows:</p>
    <p>
    <li>Company 1: {{ group.company1_k_inpolls }}&#37; for Candidate K; {{ group.company1_j_inpolls }}&#37; for Candidate J</li>
    <li>Company 2: {{ group.company2_k_inpolls }}&#37; for Candidate K; {{ group.company1_j_inpolls }}&#37; for Candidate J</li>
    </p>
    {% next_button %}
     {% include Constants.instructions_template %}

{% endblock %}
