{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
The Study has finished
{% endblock %}

{% block content %}
     <p>Your points from real rounds 1-20 were  {{ total_points }}</p>
    <p>You total payoffs are £(total points)/100 plus your showup fee of £5</p>
    <p><strong>YOUR TOTAL PAYOFFS:  {{ total_payoff }} </strong></p>
    <p>Thank you for having participated in this study.</p>
    <p>Please wait quietly while participants are getting paid.</p>
    {% next_button %}

{% endblock %}
