{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}

{% endblock %}

{% block content %}
       {% if group.round_number <= Constants.practice_rounds  %}
    <p><ins>Practice round {{ group.round_number}} of {{ Constants.practice_rounds }}</ins></p>
    {% else %}
    <p><ins>Round {{ group.set_practice_round_numbers}} of {{ Constants.real_rounds}}</ins></p>
    {% endif %}
    <br>
    <h3>Polls</h3>
    <p>You were randomly selected to participate in the polls of <strong>Company {{ player.company_each_player }}</strong>.  </p>
     <!--<p>Companies select the following player:{{ group.Allcompany }}. For instance, [3,2,2,1] means company 1 select player 3 and player 2, and company 2 select player 2 and player 1.
        (This line will be deleted later, I print it out to check if the codes work.)</p>-->
    {% formfield player.poll label="Please state which candidate you would vote for if elections were to take place today:" %}
    {% next_button %}
     {% include Constants.instructions_template %}
{% endblock %}


