{% extends "polls_treatment/Page.html" %}
{% load staticfiles otree %}


{% block title %}

{% endblock %}

{% block content %}
      {% if group.round_number <= Constants.practice_rounds  %}

    <p><ins>Practice round {{ group.round_number}} of {{ Constants.practice_rounds }}</ins></p>
    {% else %}
    <p><ins>Round {{ group.set_practice_round_numbers}} of {{ Constants.real_rounds}}</ins></p>
    {% endif %}
    <br>
    <h3 class="center">  Elections</h3>
    <p class="center">Now elections will take place.<br>
    The candidate that receives the majority of votes will be elected.</p>
    <center>{% formfield player.vote label="Please state your choice:" %}</center>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    <br><br> <br><br> <br><br> <br><br>
    {% include Constants.instructions_template %}
{% endblock %}


