{% extends "polls_control/Page.html" %}
{% load staticfiles otree %}



{% block title %}

{% endblock %}

{% block content %}
    {% if group.round_number <= Constants.practice_rounds  %}
    <p><ins>Practice round {{ group.round_number}} of {{ Constants.practice_rounds }}</ins></p>
    {% else %}
    <p><ins>Round {{ group.set_practice_round_numbers}} of {{ Constants.real_rounds}}</ins></p>
    {% endif %}
    <br>
    <h3 class = "center">Your Belief</h3>

        <center>{% formfield player.belief_k label="Please state the share that you expect that candidate K will receive in the forthcoming elections (insert an integer between 0 and 100):" %}</center>
    <br>
    <center>{% formfield player.belief_j label="Please state the share that you expect that candidate J will receive in the forthcoming elections (insert an integer between 0 and 100):" %}</center>
    <br>
    <p class = 'center'>
    <strong>Please make sure that the numbers you entered are whole numbers and they add up to 100.</strong>
    </p>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    <br><br> <br><br> <br><br> <br><br>
    {% include Constants.instructions_template %}
{% endblock %}
