{% extends "polls_control/Page.html" %}
{% load staticfiles otree %}



{% block title %}

{% endblock %}

{% block content %}
    {% if group.round_number <= Constants.practice_rounds  %}
    <p><ins>Practice round {{ group.round_number}} of {{ Constants.practice_rounds }}</ins></p>
    {% else %}
    <p><ins>Round {{ group.set_practice_round_numbers}} of {{ Constants.real_rounds}}</ins></p>
    {% endif %}
    <br>
    <h3 class = "center">Your Belief</h3>
    <p class = 'center'>
        {% formfield player.belief_k label="Please state your expected vote share for candidate K in the forthcoming elections (from 0 to 100):" %}
    <br>
    {% formfield player.belief_j label="Please state your expected vote share for candidate J in the forthcoming elections (from 0 to 100):" %}
    <br>
    <strong>Please make sure that the numbers you entered add up to 100.</strong>
    </p>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    <br><br>
    {% include Constants.instructions_template %}
{% endblock %}
