{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}

{% endblock %}

{% block content %}
      {% if group.round_number <= Constants.practice_rounds  %}
    <p><ins>Practice round {{ group.round_number}} of {{ Constants.practice_rounds }}</ins></p>
    {% else %}
    <p><ins>Round {{ group.set_practice_round_numbers}} of {{ Constants.real_rounds}}</ins></p>
    {% endif %}
    <br>
    <h3>Election results and Payoffs</h3>
    <p><li>{{ group.j_inelection }}&#37; &nbsp;               voted for Candidate J</li>
    <li>{{ group.k_inelection }}&#37;  &nbsp;              voted for Candidate K</li></p>
    <p><strong>Candidate {{ group.winner }}</strong> wins </p>
    <p>Your points earned in this round: <strong>{{ player.payoff }}</strong></p>
    {% if group.round_number <= Constants.practice_rounds  %}
        <p><ins>If this were a real round, you would have earned this amount of pennies in cash.</ins></p>
    {% else %}<p></p>
    {% endif %}

    {% next_button %}

{% endblock %}
