{% extends "polls_control/Page.html" %}
{% load staticfiles otree %}


{% block title %}

{% endblock %}

{% block content %}
      {% if group.round_number <= Constants.practice_rounds  %}

    <p><ins>Practice round {{ group.round_number}} of {{ Constants.practice_rounds }}</ins></p>
    {% else %}
    <p><ins>Round {{ group.set_practice_round_numbers}} of {{ Constants.real_rounds}}</ins></p>
    {% endif %}
    <br>
    <h3>Polls</h3>
    <p class="center">In this period you were <strong>not</strong> randomly selected to participate in a poll. <br>
    Please wait while others participate in the polls.</p>
        <p align="right"> <strong>Please click "Next" to continue </strong></p>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    <br><br> <br><br> <br><br> <br><br>
    {% include Constants.instructions_template %}
{% endblock %}


