{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
Polls
{% endblock %}

{% block content %}
      {% if group.round_number <= Constants.practice_rounds  %}
    <p>This is a practice round, and it will not count for your final payoffs</p>
    <p><ins>Practice round {{ group.round_number}} of {{ Constants.practice_rounds }}</ins></p>
    {% else %}
    <p><ins>Round {{ group.set_practice_round_numbers}} of {{ Constants.real_rounds}}</ins></p>
    {% endif %}
    <p>In this period you were <strong>not</strong> randomly selected to participate in a poll. </p>
    <p>Please wait while others participate in the polls.</p>
    <p>Companies select the following player:{{ group.Allcompany }}. </p>
    <p>hjoghiohio{{group.companyA}}</p>
    {% next_button %}
     {% include Constants.instructions_template %}
{% endblock %}


