{% extends "polls_treatment_new/Page.html" %}
{% load staticfiles otree %}

{% block title %}

{% endblock %}

{% block content %}
      {% if group.round_number <= Constants.practice_rounds  %}

    <p><ins>Practice round {{ group.round_number}} of {{ Constants.practice_rounds }}</ins></p>
    {% else %}
    <p><ins>Round {{ group.set_practice_round_numbers}} of {{ Constants.real_rounds}}</ins></p>
    {% endif %}
    <br>
    <h3 class="center">Poll Results</h3>
    <p class="center">The findings of two companies are revealed:
    {%  if player.poll_display_order == 0 %}
    <ul>
    <li>Company {{ group.biased1_company }}: {{ group.biased1_k_inpolls }}&#37; for Candidate K; {{ group.biased1_j_inpolls }}&#37; for Candidate J.</li>
    <li>Company {{ group.biased2_company}}: {{ group.biased2_k_inpolls }}&#37; for Candidate K; {{ group.biased2_j_inpolls }}&#37; for Candidate J.</li>
    </ul>
    {% else %}
        <ul>
    <li>Company {{ group.biased1_company }}: {{ group.biased1_j_inpolls }}&#37; for Candidate J; {{ group.biased1_k_inpolls }}&#37; for Candidate K.</li>
    <li>Company {{ group.biased2_company }}: {{ group.biased2_j_inpolls }}&#37; for Candidate J; {{ group.biased2_k_inpolls }}&#37; for Candidate K.</li>
    </ul>
    {% endif %}
    </p>
     <p align="right"> <strong>Please click "Next" to continue </strong></p>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    <br><br> <br><br> <br><br> <br><br>
    {% include Constants.instructions_template %}
{% endblock %}
