{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="instructions well well-lg">


    <div class="panel-body">

    <h2>
        <center> Welcome to the York Experimental Laboratory.</center>
    </h2>
    </div>
    </div>

    <h5>
        This study is part of an investigation in voting behaviour.
        The instructions are simple, and if you follow them carefully and depending on your decisions,
        you can earn money, which will be paid to you in cash, at the end of the study.
    <br/> <br/>
    <strong>
        Please do not talk or in any other way communicate with others for the duration of this study.
    <br/>
       Please turn off your phones.
    </strong></h5>
        {% next_button %}



{% endblock %}