{% extends "polls_control/Page.html" %}
{% load staticfiles otree %}


{% block title %}

{% endblock %}

{% block content %}
      {% if group.round_number <= Constants.practice_rounds  %}
    <p><ins>Practice round {{ group.round_number}} of {{ Constants.practice_rounds }}</ins></p>
    {% else %}
    <p><ins>Round {{ group.set_practice_round_numbers}} of {{ Constants.real_rounds}}</ins></p>
    {% endif %}
    <br>
    <h3>Election results and Payoffs</h3>
    <p class="center">
    <ul>
        <li>{{ group.k_inelection }}&#37;  &nbsp;              voted for Candidate K</li>
        <li>{{ group.j_inelection }}&#37; &nbsp;               voted for Candidate J</li>
    </ul>
    </p>
    {% if group.k_inelection == group.j_inelection %}
    <p class="center">Candidates received the same number of votes, the winner is selected randomly</p>
    {% endif %}
    <p class="center"><strong>Candidate {{ group.winner }}</strong> wins <br>
    Your points earned in this round: <strong>{{ player.payoff }}</strong></p>

    {% if group.round_number <= Constants.practice_rounds  %}
        <p class="center"><ins>If this were a real round, you would have earned half this amount of pennies in cash.</ins></p>
    {% else %}<p></p>
    {% endif %}

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
{% endblock %}
